* {
	padding: 0;
	margin: 0;
}
@font-face {
	font-family: 'Tahoma'; src: url(Tahoma.ttf);
}
html, body {
	height: 100%;
	background: #f6f6f6;
	font-family: 'Tahoma';
}
a {
	cursor: pointer;
}
.clearfix {
	clear: both;
}
.main_container {
	background: #fff;
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 105px;
	box-shadow: 0 0 21px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 21px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 0 21px rgba(0,0,0,0.5);
} 
@media (max-width: 1070px) {
	.main_container {
		max-width: 900px;
		padding-top: 90px;
	} 
}
@media (max-width: 940px) {
	.main_container {
		max-width: 790px;
		padding-top: 70px;
	} 
}
@media (max-width: 830px) {
	.main_container {
		max-width: 680px;
		padding-top: 35px;
	}
}
@media (max-width: 710px) {
	.main_container {
    max-width: 535px;
    padding-top: 20px;
	}
}
@media (max-width: 560px) {
	.main_container {
    max-width: 400px;
  }
}
@media (max-width: 425px) {
	.main_container {
    max-width: 300px;
  }
}
/*   MENU   */
.menu {
	height: 40px;
	background: #54add8;
	text-align: center;
	position: relative;
}
.menu_list-item {
	list-style: none;
	display: inline-block;
	line-height: 37px;
	padding-left: 10px;
  padding-right: 10px;
}
.menu_list-item:hover {
	background: #f75c00;
}
.menu_list-item-link {
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}
.menu_list-item-link-rectangle {
	width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  display: inline-block;
  margin-bottom: 2px;
}
.menu_active {
	position: relative;
}
.menu_active-list {
	display: none;
	position: absolute;
	width: 163px;
	background: #fff;
	border: 1px solid #d7d7d7;
	border-radius: 0 0 5px 5px;
	top: 40px;
	left: 0;
	list-style: none;
}
.menu_active-list-item {
	border-bottom: 1px solid #d7d7d7;
	text-align: left;
	padding-left: 14px;
}
.menu_active-list-item:hover {
	background: #bfd8eb;
}
.menu_active-list-item_last {
	border-bottom: none;
}
.menu_active-list-item a {
	text-decoration: none;
	color: #000;
	font-size: 14px;
	font-weight: normal;
}
.menu_active:hover .menu_active-list {
	display: block;
}
.menu_link {
	float: right;
	display: inline-block;
	position: relative;
	top: -32px;
	right: 70px;
}
.menu_link-img {
	position: absolute;
	top: 6px;
}
.menu_list-item-sign {
	text-decoration: none;
	color: #a8d5eb;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 1px;
  border-bottom: 1px solid #a8d5eb;
  margin-left: 20px;
}
.menu_list-item-sign:hover {
	color: #fff;
	border-bottom: 1px solid #fff;
}
.circle {
	width: 7px;
	height: 7px;
	background: #a8d5eb;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin: 2px 0 1px 2px;
}
.oval {
	width: 12px;
	height: 7px;
	background: #a8d5eb;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
}
@media (max-width: 1070px) {
	.menu_link {
		top: -35px;
    right: 40px;
	}
	.menu_list {
		margin-left: -75px;
	}
}
@media (max-width: 940px) {
	.menu_list-item {
		padding-left: 8px;
  	padding-right: 8px;
	}
	.menu_list-item-link {
    font-size: 12px;
    font-weight: normal;
	}
	.menu_link {
    right: 20px;
	}
	.menu_active-list-item {
    padding-left: 8px;
	}
	.menu_active-list-item a {
    font-size: 12px;
  }
  .menu_active-list {
    width: 140px;
  }
}
@media (max-width: 830px) {
	.menu {
    height: 70px;
  }
	.menu_list {
  	margin-left: 0;
	}
	.menu_link {
    right: 23px;
		top: -5px;
	}
}
@media (max-width: 710px) {
	.menu_link {
    right: 10px;
    top: -30px;
	}
	.menu_list-item {
    line-height: 30px;
  }
  .menu_active {
    z-index: 5;
	}
}
@media (max-width: 560px) {
	.menu_link {
    top: 5px;
	}
}
@media (max-width: 425px) {
	.menu_list-item {
    padding-left: 1px;
    padding-right: 2px;
	}
	.menu_list-item-link {
    font-size: 10px;
	}
}
/*   SEARCH   */
.search {
	background: #0085c5;
	height: 350px;
	padding: 50px 85px 0 85px;
}
.search_title {
	text-align: center;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
	text-transform: capitalize;
	margin-bottom: 45px;
}
.search_form-departure {
	float: left;
	margin-bottom: 25px;
	position: relative;
}
.search_form-arrival {
	float: right;
	margin-bottom: 25px;
}
.search_form-title {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 6px;
}
.search_form-text {
	width: 384px;
	height: 48px;
	border: none;
	border-radius: 5px;
	padding-left: 14px;
}
.search_form-text[placeholder] {
	color: #a9a9a9;
  font-size: 16px;
	font-weight: normal;
}
.search_form-text-bottom {
	color: #a9a9a9;
  font-size: 16px;
	font-weight: normal;
	margin-top: 6px;
}
.search_form-town {
	border-bottom: 1px dashed #a9a9a9;
}
.search_form-town:hover {
	border-bottom: 1px dashed transparent;
	color: #fff;
	cursor: pointer;
}
.search_form-swap {
	float: left;
	color: #94c4db;
	margin-left: 12px;
  padding-top: 27px;
  width: 35px;
}
.search_form-swap:hover {
	color: #fff;
	cursor: pointer;
}
.search_form-swap_arrow-top {
	float: right;
}
.search_form-swap_arrow-bottom {
	float: left;
	margin-top: -15px;
	-moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.search_form-text-small {
	width: 167px;
	height: 48px;
	border: none;
	border-radius: 5px;
	padding-left: 14px;
	margin-right: 35px;
}
.search_form-return {
	float: left;
	background: #1395d3;
	border: 1px solid #0076ad;
}
.search_form-return[placeholder] {
	color: #94c4db;
}
.search_form-roundtrip {
	float: left;
	width: 100px;
	height: 30px;
	background: #0b92d2;
	margin: 33px 15px 0 0;
  border-radius: 5px;
  position: relative;
}
.search_form-roundtrip-arrow {
	position: absolute;
	background: #0b92d2;
	top: 8px;
  right: -6px;
  width: 13px;
  height: 13px;
	-moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.search_form-radio_label {
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 5px;
  display: block;
  margin: 7px 6px 0 9px;
  position: relative;
  float: left;
}
.search_form-radio_input {
	display: none;
}
.search_form-radio_input:checked + .search_form-radio_label:before {
  position: absolute;
  content: "\2714";
  color: #0085c5;
  top: -4px;
  left: 1px;
  font-size: 17px;
}
.search_form-radio_text {
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	line-height: 30px;
}
.search_form-currency {
	float: left;
	width: 86px;
	height: 47px;
}
.search_form-list {
	display: none;
	list-style: none;
	width: 98px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	border: 1px solid #d7d7d7;
	position: absolute;
	top: 65px;
	left: 0;
}
.search_form-list-item {
	color: #a9a9a9;
  font-size: 15px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 10px 0 10px 14px;
  border-bottom: 1px solid #d7d7d7;
}
.search_form-list-item:hover {
	background: #bfd8eb;
}
.search_form-currency:hover + .search_form-list {
	display: block;
}
.search_form-submit {
	float: right;
	margin-top: -72px;
}
input[type="submit"] { 
  border: 1px solid #de5300;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  width: 179px;
  height: 46px;
  background: #f86407;
  background: linear-gradient(to top, #f86407, #fbae4a);
}
input:active, input:focus {
	outline: none !important;
	box-shadow: none;
}
@media (max-width: 1070px) {
	.search {
    padding: 50px 30px 0 30px;
	}
	.search_form-text {
    width: 376px;
  }
}
@media (max-width: 940px) {
	.search_form-text {
    width: 321px;
	}
	.search_form-text-small {
    width: 104px;
  }
  .search_form-list {
		width: 116px;
	}
}
@media (max-width: 830px) {
	.search_form-text {
    width: 266px;
	}
	.search_form-text-small {
    width: 125px;
    margin-right: 41px;
	}
	.search_form-submit {
		float: none;
		width: 170px;
		margin: 0 auto;
	}
	.search_form-currency {
		margin-right: 0;
	}
	.search_form-list {
    width: 137px;
	}
}
@media (max-width: 710px) {
	.search {
    padding: 50px 30px 25px 30px;
	}
	.search_form-text {
    width: 195px;
	}
	.search_form-text-small {
    width: 100px;
    margin-right: 0;
	}
	.search_departure {
		margin-right: 125px;
	}
	.search_currency {
		margin-top: -10px;
	}
	.search_form-submit {
		float: right;
    margin-right: 37px;
    margin-top: 15px;
	}
	.search_form-list {
    width: 112px;
	}
}
@media (max-width: 560px) {
	.search {
    padding: 40px 30px 25px 30px;
    height: 600px;
	}
	.search_title {
    font-size: 22px;
  }
  .search_form-text {
    width: 323px;
	}
	.search_form-swap {
		-moz-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  -webkit-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  transform: rotate(90deg);
	  margin-left: 160px;
    padding-top: 0px;
	}
	.search_currency {
    margin-top: -191px;
    margin-left: 220px;
	}
	.search_form-roundtrip {
    margin: 33px 15px 0 103px;
  }
  .search_form-submit {
    margin-right: 85px;
  }
}
@media (max-width: 425px) {
	.search_title {
    margin-bottom: 40px;
	}
	.search_form-text {
    width: 229px;
	}
	.search_form-swap {
    margin-left: 110px;
  }
  .search_currency {
    margin-top: 2px;
    margin-left: 9px;
	}
	.search_form-roundtrip {
    margin: 33px 15px 0 -116px;
	}
	.search_form-submit {
    margin-right: 42px;
	}
}